.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding-left: 5em;
}

.Track {
  display: table;
  padding-bottom: 0.5em;
}

.Album-Art {
  display: table-cell;
  padding-right: 1em;
  padding-left: 1em;
  height: 96px !important;
  width: 96px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.Album-Img {
  height: 96px;
  width: 96px;
  position: absolute;
  top: 0;
  left: 1em;
}

.Spotify-Play-Wrapper {
  height: 68px;
  width: 68px;
  left: calc(1em + 14px);
  top: 14px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}

.Spotify-Play {
  position: absolute;
  z-index: 2;
  opacity: .2;
}

iframe {
  position: absolute;
  left: -8px;
  top: -8px;
}

.Spotify-Play:hover{
  opacity: .8;
}

.Track-Info {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.Info-Field {
  color: #bbb;
  display: inline-block;
  min-width: 50px;
}

.Info-Value {
  display: table-cell;
  text-align: left;
}
